<section class="titulo-container">

    <div class="carrusel">
        <ul>
            <li><img src="./assets/images/imagen1.png" alt=""></li>
            <li><img src="./assets/images/imagen2.png" alt=""></li>
            <li><img src="./assets/images/imagen3.png" alt=""></li>
            <li><img src="./assets/images/imagen4.png" alt=""></li>
        </ul>
    </div>

    <div class="banner">
        <div class="banner-top">
            <p>Centro clinico Vitalis</p>
            <a href="views/auth/login.php">Ingreso del personal</a>
        </div>
        <div class="banner-bot">
            <H1>TITULO</H1>
            <h2>Texto informativo o lema de empresa</h2>
            <a href="">Contactenos</a>
        </div>
    </div>
    
</section>