<section class="nosotros-container">

    <article>
        <div class="nosotros-foto-container">
            <img src="./assets/images/imagen1.png" alt="frente del edificio">
        </div>

        
        <div class="nosotros-texto">
            <h3>Nosotros</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique adipisci maxime eius molestias assumenda fugit blanditiis unde explicabo minus officiis, voluptates officia illo qui iusto consequatur consequuntur, ad iure? Quod!</p>
        </div>
    </article>
        

</section>