<header class="header">
    <div>
        <a href="">
            <img src="../assets/images/logo.webp" class="logo-header" />
        </a>
    </div>
    <nav class="navbar">
        <li>
            <a href="">
                Que hacemos
            </a>
        </li>
        <li>
            <a href="">
                Sobre nosotros
            </a>
        </li>
        <li>
            <button class="">
                Iniciar Sesión
            </button>
        </li>
    </nav>
</header>