<section class="comentarios-container">

    <div class="comentarios-top">
        <h2>COMENTARIOS DE CLIENTES</h2>
    </div>

    <div class="comentarios-bot">
        <div class="box">
            <img src="../assets/icons/comillas.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illo aliquam nesciunt dolore quia consequatur animi eligendi id corrupti ipsum, at beatae fugiat officia suscipit!</p>
            <div class="cliente">
                <div class="cliente-foto cliente1">
                    <img src="../assets/images/cliente1.jpg" alt="">
                </div>
                <p>Nombre<br>Apellido</p>
            </div>
        </div>
        <div class="box">
            <img src="../assets/icons/comillas.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illo aliquam nesciunt dolore quia consequatur animi eligendi id corrupti ipsum, at beatae fugiat officia suscipit!</p>
            <div class="cliente">
                <div class="cliente-foto cliente2">
                    <img src="../assets/images/cliente2.jpg" alt="">
                </div>
                <p>Nombre<br>Apellido</p>
            </div>
        </div>
        <div class="box">
            <img src="../assets/icons/comillas.svg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In illo aliquam nesciunt dolore quia consequatur animi eligendi id corrupti ipsum, at beatae fugiat officia suscipit!</p>
            <div class="cliente">
                <div class="cliente-foto cliente3">
                    <img src="../assets/images/cliente3.jpg" alt="">
                </div>
                <p>Nombre<br>Apellido</p>
            </div>
        </div>
    </div>

</section>