<section>
    <div class="container-section-what-we-do">
        <div class="container-information-section">
            <div>
                <h2>¿Qué hacemos?</h2>
                <p>Nuestra clinica ofrece el mejor servicio de consultora</p>
            </div>
            <div>
                <ul style="gap: 50px;">
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                </ul>
            </div>
        </div>
    </div>
</section>