<footer class="footer">
    <div class="container-footer">
        <div class="container-image-information-social-media">
            <div>
<!-- BORRAR 'php/tp-desarrollo-web-sistema-de-turnos' AL SUBIR A WEB -->
                <img src="/php/tp-desarrollo-web-sistema-de-turnos/assets/images/logo.webp" class="image-footer" />
            </div>
            <div class="container-information-social-media">
                <div class="container-information">
                    <h2>Contacto</h2>
                    <hr class="hr-footer" />
                    <p>Av Directorio 2921, CABA, Buenos Aires</p>
                    <p>Argentina | Tel: 1234-5678</p>
                    <p>
                        clinicamedicavitalis@gmail.com |
                        <a href="">
                            Formulario de contacto
                        </a>
                    </p>
                </div>
                <div class="container-social-media">
<!-- BORRAR TODOS LOS 'php/tp-desarrollo-web-sistema-de-turnos' AL SUBIR A WEB -->
                    <img src="/php/tp-desarrollo-web-sistema-de-turnos/assets/icons/FacebookIcon.svg" />
                    <img src="/php/tp-desarrollo-web-sistema-de-turnos/assets/icons/TwitterIcon.svg" />
                    <img src="/php/tp-desarrollo-web-sistema-de-turnos/assets/icons/InstagramIcon.svg" />
                    <img src="/php/tp-desarrollo-web-sistema-de-turnos/assets/icons/LinkedinIcon.svg" />
                </div>
            </div>
        </div>
    </div>
    <div class="container-rights">
        <span>
            Copyright © 2024 Empresa Todos los derechos reservados.
        </span>
        <span>
            Política de privacidad ! Aviso legal
        </span>
    </div>
</footer>