/* Root */
:root {
    font-family: "Montserrat", sans-serif;
    --bg-sky-blue: #2badc8;
    --bg-blue: #2683ba;
    --bg-dark-blue: #185076;
    --bg-ocean-blue: #0c283a;
    --bg-dark: #060609;
    --bg-gray: #71787b;
    --bg-whitish-gray: #e2e2e2;
    --bg-white: #ffff;
    
    --gradient-white-to-gray: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);

}
body, html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


/* General displays */
.navbar,
.header,
.container-section-what-we-do,
.container-image-information-social-media,
.container-rights,
.container-footer,
.container-information,
.container-information-social-media {
    display: flex;
}

/* Header */
.header {
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-dark);
    position: sticky;
    top: 0;
}
.logo-header {
    width: 80px;
    height: 80px;
}
.navbar { 
    align-items: center;
}
.navbar li {
    list-style: none;
    margin-left: 20px;
}
.navbar li a {
    text-decoration: none;
    color: var(--bg-dark);
    transition: 0.1s;
}
.navbar button {
    padding: 12px;
    border: 2px solid var(--bg-white);
    font-weight: bold;
    border-radius: 25px;
    color: var(--bg-whitish-gray);
    background: var(--bg-dark-blue);
    transition: 0.1s;
    cursor: pointer;
}
.navbar button:hover {
    margin-bottom: 5px;
    color: var(--bg-dark-blue);
    border: 2px solid var(--bg-dark-blue);
    background: var(--bg-white);
}

/* Section WhatWeDO */

.container-information-section {
    display: flex;
    gap: 20px;
}
.container-information-section>div:first-child {
    display: flexbox;
    align-content: center;
}
.container-information-section>div:last-child {
    box-sizing: border-box;
    border: 3px solid var(--bg-ocean-blue);
    padding: 20px 30px 20px 20px;
}
.container-information-section li{
    margin-top: 10px;
}

/* Sections landing page */
.container-section-what-we-do {
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Footer */
.footer {
    background: var(--gradient-white-to-gray);
    color: var(--bg-dark);
}

.container-footer {
    justify-content: center;
    align-items: center;
}
.image-footer {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: 40px;
    margin-right: 50px;
} 
.container-information {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-information h2,
.container-information p,
.container-information a {
    text-decoration: solid;
}
.hr-footer {
    width: 200px;
    border: none;
    border-bottom: 6px solid black;
    border-radius: 20px;
    margin: 0 auto;
}
.container-information-social-media {
    align-items: center;
    flex-direction: column;
}
.container-social-media img {
    width: 40px;
    height: 38px;
    margin-top: 30px;
}
.container-rights {
    margin-top: 50px;
    justify-content: space-evenly;
}

/* ---------------------------------------- Styles de la Seccion de Titulo */

.titulo-container{
    background: var(--bg-dark);
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.carrusel {
    width: 100%;
    margin: 0; 

    animation: carrusel-animation 16s infinite  ease-in-out;
}
.carrusel ul {
    display: flex;
    margin: 0;
    padding: 0;
    width: 400%;
}
.carrusel li {
    list-style: none;
    width: 100%;
}
.carrusel img {
    width: 100%;
    filter: opacity(30%);
}

@keyframes carrusel-animation {
    0%{margin-left: 0%;}
    20%{margin-left: 0%;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    95%{margin-left: -300%;}

}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.banner-top {
    display: flex;
    justify-content: space-between;
    margin: 0 10px 0 40px;
}
.banner-top a {
    color: var(--bg-gray);
    height: 5px;
}
.banner-top p {
    color: var(--bg-whitish-gray);
    font-size: 1.3em;
}

.banner-bot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;

    
}
.banner-bot h1 {
    color: var(--bg-blue);
    font-size: 7em;
    margin: 0 0 30px 0 ;
}
.banner-bot h2 {
    color: var(--bg-whitish-gray);
    font-size: 2em;
    margin: 20px 0;
}
.banner-bot a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    box-sizing: border-box;
    background-color: var(--bg-sky-blue);
    color: var(--bg-ocean-blue);
    border-radius: 15px;
    font-size: 1.5em;
    text-decoration: none;
    transition: 200ms ease-in-out;

}
.banner-bot a:hover {
    background: var(--bg-blue);
    transition: 200ms ease-in-out;
}

/* ---------------------------------------- Styles de la Seccion de Comentarios */


.comentarios-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-whitish-gray);
    width: 100%;
    height: 100vh;
}
.comentarios-top {
    margin-top: 100px;
}
.comentarios-top h2 {
    font-size: 4em;
    margin: 0;
    color: var(--bg-sky-blue);
    letter-spacing: 0.1em;
}
.comentarios-bot {
    display: flex;
    justify-content: space-around;
    align-items:center;
    width: 100%;
    height: 100%;
}
.box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 70%;
    background-color: var(--bg-dark-blue);
    color: var(--bg-whitish-gray);
    border: 3px solid var(--bg-blue);
    border-radius: 10px;
    box-shadow: 10px 10px 30px var(--bg-dark);
}
.box>img {
    width: 50px;
    height: 50px;
    margin: 20px 0 0 20px;
}
.box>p {
    margin: 0 20px;
}
.cliente {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}
.cliente p {
    text-transform: uppercase;
    font-size: 1.3em;

}
.cliente-foto {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}
.cliente1 img {
    transform: scale(23%);
}
.cliente2 img {
    transform: scale(45%);
    position: relative;
    top: 23px;
}
.cliente3 img {
    transform: scale(30%);
    position: relative;
    top: 15px;
}
