.section-turn {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario-turno-creacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: max-content;
    padding: 15px;
    border: 1px solid #dbd8e3;
    border-radius: 10px;
    box-shadow: 2px 2px #dbd8e3;
}

.formulario-turno-creacion input {
    padding: 10px;
    margin-bottom: 30px;
    width: 250px;
    border: none;
    border-bottom: 1px solid gray;
    transition: 0.3s ease-in-out;
}
.formulario-turno-creacion input:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid var(--bg-dark-blue);
}

.formulario-turno-creacion button {
    margin-top: 20px;
    padding: 12px;
    width: 100px;
    border: 2px solid var(--bg-white);
    font-weight: bold;
    border-radius: 25px;
    color: var(--bg-whitish-gray);
    background: var(--bg-dark-blue);
    transition: 0.1s;
    cursor: pointer;
}
.formulario-turno-creacion button:hover {
    color: var(--bg-dark-blue);
    border: 2px solid var(--bg-dark-blue);
    background: var(--bg-white);
}

.formulario-turno-creacion select {
    padding: 10px;
    margin-bottom: 30px;
    width: 250px;
    border: none;
    border-bottom: 1px solid gray;
    transition: 0.3s ease-in-out;
}

.formulario-turno-creacion div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario-turno-creacion div img { 
    width: 100px;
    height: 100px;
}